<h1>Add Users</h1>
{{#if error}} <span class="text-danger">{{error}}</span> {{/if}}
<form class="" method="post" action="/user/add">
    <div class="form-group">
        <label for="">ID</label>
        <input type="text" name="id" id="id" class="form-control" placeholder="add ID">
    </div>
    <div class="form-group">
        <label for="">First Name</label>
        <input type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="">Last Name</label>
        <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name">
    </div>
    <div class="form-group">
        <label for="">Email</label>
        <input type="text" name="email" id="email" class="form-control" placeholder="Email Address">
    </div>
    <div class="form-group">
        <label for="">Phone Number</label>
        <input type="text" name="phone" id="phone" class="form-control" placeholder="Phone Number">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>